@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Praise&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green-page: rgb(32, 165, 103);
}

body {
  font-weight: 400;
  font-family: "Lexend Deca", sans-serif;
  background: #20232a;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

/* ***********************************************************
*************************** HEADER ***************************
************************************************************** */

.header {
  margin: 12px 0px 5px 0px;
  background: #20232a;
  height: 55px;
  padding: 10px 35px;
  display: flex;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  width: 20%;
}

.text-logo {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 25px;
  margin-left: 20px;
  text-shadow: 12px 12px 33px -16px #000000;
}

.nav {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: -1vmin -1vmin 0 #9128e721, 1vmin 1vmin 0 #7a566815;
  border-radius: 3px;
  backdrop-filter: blur(5px);
  width: 60%;
  height: 35px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav__list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 100%;
  height: 100%;
}

.nav__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20%;
  font-family: "Lexend Deca", sans-serif;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
}

.nav__list-item:hover {
  color: rgb(255, 3, 100);
}

.active {
  border-bottom: 2px solid rgb(255, 3, 100);
}

.socialmedia {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 20%;
}

.socialmedia-img {
  margin: 0px 10px;
  width: 30px;
}

.socialmedia a:hover {
  border-bottom: 1px solid rgb(255, 3, 100);
}

/* ***********************************************************
*************************** HEADER ***************************
************************************************************** */

/* ***********************************************************
************************* MENU MOBILE ************************
************************************************************** */
.text-logo-mobile,
#check-van-mobile {
  display: none;
}
.mobile-menu {
  display: none;
  width: 50%;
}

.mobile-menu-header {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.nav-menu-movil {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 80px 20px;
  color: #fff;
  background: #20232a;
  cursor: pointer;
  transition: 0.5s ease-in-out all;
  z-index: 10;
  list-style: none;
  transform: translatey(-100%);
  opacity: .3;
}

.close-icon-container {
  width: 100%;
  text-align: right;
}

.close-icon-container img {
  cursor: pointer;
}

.nav-mobile-options {
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.socialmedia-nav-mobile {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.close-icon-container img {
  width: 40px;
}

.nav-menu-movil li {
  display: block;
}

.nav-menu-movil li a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.menu-line1,
.menu-line2,
.menu-line3 {
  display: block;
  width: 30px;
  height: 3.5px;
  background-color: #fff;
  margin: 6.5px 0px;
  transition: 0.4s ease-out;
}

.section-r-mobile-cards {
  display: none;
}

.footer-mobile {
  display: flex;
  justify-content: space-around;
}

/* ***********************************************************
************************* MENU MOBILE ************************
************************************************************** */

/* ***********************************************************
************************ MAIN CONTENT ************************
************************************************************** */

.intro-section {
  background: linear-gradient(180deg, #000000, #180915),
    url(./imgs/jpg/back-img-developer-d.jpg) no-repeat 0;
  background-size: cover;
  background-blend-mode: screen;
  padding: 10px 25px 10px 45px;
  height: 500px;
  display: flex;
}

.intro-section-l {
  width: 40%;
  height: 100%;
}

.section-l-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
}

.intro-name,
.intro-pro {
  font-family: "Oswald", sans-serif;
  color: rgb(243, 245, 225);
  font-size: 68px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -2px;
  text-shadow: -0.5vmin 0vmin 0 #20232a;
}

.intro-pro {
  margin-top: 35px;
}

.section-l-down {
  height: 50%;
}

.intro-foot-text {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Kalam", cursive;
}

.foot-text {
  font-size: 18px;
  margin: 0px 5px;
  color: var(--green-page);
}

.btn-about {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  align-items: center;
  width: 300px;
  height: 60px;
  border-radius: 5px;
  background: #20232a;
  color: var(--green-page);
  border: 1px solid var(--green-page);
  box-shadow: 9px 9px 23px 0px rgba(0, 0, 0, 0.67);
  cursor: pointer;
  will-change: transform;
  transform: translateY(-2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.btn-about-a {
  text-decoration: none;
}

.btn-about img {
  width: 30px;
  filter: invert(90%) sepia(77%) saturate(3211%) hue-rotate(74deg)
    brightness(98%) contrast(100%);
}

.btn-about p {
  font-family: "Archivo Black", "Archivo", sans-serif;
  font-size: 16px;
}

.btn-about:active {
  transform: translateY(2px);
  transition: transform 34ms;
}

.btn-about:hover {
  background: var(--green-page);
  color: #20232a;
  border: #20232a;
}

.btn-about:hover img {
  filter: invert(10%) sepia(5%) saturate(2535%) hue-rotate(184deg)
    brightness(90%) contrast(88%);
}

.intro-section-r {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-container {
  display: flex;
  margin-top: 18px;
}

.post-img {
  height: 45px;
  background-color: rgb(6, 27, 34);
  margin-right: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.post-img img {
  padding: 2px;
  width: auto;
  height: 45px;
}

.post-title,
.post-date {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50%;
}

.post-title:hover {
  color: rgb(255, 3, 100);
  font-weight: bold;
}

/* ************************ SECTION CONTENT ************************ */

.overlap {
  margin-top: -55px;
}

.content-section {
  padding: 0px 5px 10px 5px;
}

.content-section h3 {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 10px;
}

.item-container {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  background: #363538;
}

.style-content {
  font-weight: 200;
  font-size: 14px;
}

.style-content li {
  list-style-type: none;
  margin-bottom: 2px;
}

.section-container {
  width: 100%;
  padding: 20px;
}

.content-container {
  padding: 30px 5px;
  background: #262b35;
  box-shadow: 2px 6px 39px -8px rgba(0, 0, 0, 0.73);
  border-radius: 7px;
}

.tag-section-title {
  font-family: "Kalam", cursive;
  font-size: 20px;
  color: var(--green-page);
}

.section-title-container {
  padding-left: 30px;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.section-title {
  font-size: 44px;
  font-family: "Kalam", cursive;
  font-weight: 400;
}
/* ************************ SECTION CONTENT ************************ */

.blog-post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 60px;
}

.blog-post-container p {
  font-size: 12px;
}


/* ***********************************************************
************************ MAIN CONTENT ************************
************************************************************** */

/* ***********************************************************
************************* RESPONSIVE *************************
************************************************************** */

/* ***++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@media screen and (max-width: 1070px) {
  .intro-name,
  .intro-pro {
    font-size: 48px;
  }
  .foot-text {
    font-size: 16px;
  }
  .nav {
    width: 70%;
  }
  .logo-container {
    width: 10%;
  }
  .text-logo {
    display: none;
  }
}
/* ***++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@media screen and (max-width: 995px) {
  .intro-section {
    flex-direction: column;
    align-items: center;
  }
  .intro-section-l {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    height: 40%;
  }
  .intro-section-r {
    height: 60%;
  }
  .section-l-up {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 25%;
  }
  .section-l-down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .intro-pro {
    margin-top: 0px;
    margin-left: 8px;
  }
  .intro-foot-text {
    margin-top: 5px;
    justify-content: center;
    letter-spacing: -1px;
  }
  .intro-section-r {
    width: 100%;
  }
  .section-r-card {
    overflow-y: auto;
    min-height: 200px;
    width: 100%;
  }
  .section-r-card::-webkit-scrollbar {
    width: 15px;
  }
  .section-r-card::-webkit-scrollbar-track {
    background: #3c4453;
  }
  .section-r-card::-webkit-scrollbar-thumb {
    background-color: #20232ae5;
    border-radius: 4px;
    border: 1px solid #424044;
  }
}

/* ***++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@media screen and (max-width: 690px) {
  #check-van-mobile:checked ~ .nav-menu-movil {
    transform: translatey(0%);
    opacity: 1;
  }
  .overlap {
    margin: 0px;
  }
  .header {
    padding: 5px 20px;
    margin: 15px 0px 0px 0px;
    height: 10%;
  }
  .nav,
  .socialmedia {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
  .text-logo-mobile {
    display: block;
    font-size: 22px;
  }
  .logo-container {
    width: 50%;
  }
  .intro-name,
  .intro-pro {
    font-size: 38px;
  }
  .intro-foot-text {
    margin: 15px 0px 10px 0px;
  }
  .btn-about {
    justify-content: space-evenly;
    margin: 15px 0px;
    background: #0e0f11b0;
    height: 65px;
    width: 100%;
  }
  .intro-section {
    padding: 5px 20px;
    height: 90%;
    justify-content: flex-start;
  }
  .intro-section-l {
    margin-top: 10px;
    padding-top: 20px;
    height: 30%;
  }
  .intro-section-r {
    padding-top: 10px;
    height: 70%;
    align-items: flex-end;
    overflow-y: auto;
  }
  .section-l-down {
    margin-top: 5px;
  }
  .section-r-card {
    display: none;
  }
  .section-r-mobile-cards {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    overflow-y: auto;
  }
  .section-r-title {
    font-size: 18px;
  }
  .section-container {
    padding: 20px 5px 5px 5px;
  }
  .content-container {
    padding-bottom: 5px;
  }
  .section-title-container {
    padding-left: 0px;
    justify-content: center;
  }
  .section-title {
    text-align: center;
    font-size: 30px;
  }
  .footer-mobile {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    width: 100%;
  }
  .footer-l,
  .footer-r {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .footer-l {
    width: 60%;
  }
  .footer-r {
    width: 40%;
  }
  .footer-l p {
    font-weight: 300;
    font-size: 12px;
  }
  .footer-r img {
    width: 20px;
  }
}
/* ***++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@media screen and (max-width: 360px) {
  .intro-section-r {
    display: flex;
    align-items: flex-end;
    height: 70%;
  }
  .section-r-mobile-cards {
    height: 100%;
  }
  .intro-name,
  .intro-pro {
    font-size: 28px;
  }
  .intro-foot-text {
    letter-spacing: -2px;
  }
  .btn-about {
    width: 220px;
    height: 35px;
  }
  .btn-about p {
    font-size: 12px;
  }
  .btn-about img {
    width: 16px;
  }
}
/* ***++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

@media screen and (max-width: 320px) {
  .section-l-up {
    display: none;
  }
  .intro-section-l{
    padding-top: 10px;
    margin-bottom: 15px;
  }
  .btn-about {
    margin-top: 10px;
  }
  .footer-r img {
    width: 16px;
  }
}
/* ***********************************************************
************************* RESPONSIVE *************************
************************************************************** */
