/* :root {
    --page: #20232ae5;
    --intro: #424044;
    --primary: rgb(117, 3, 47);
    --secondary: #192824;
    --background: #192824;
    --blue: #0e1eac;
    --green: rgb(11, 240, 133);
    --yellow: #c7a80f;
    --orange: #bd713a;
    --red: #c90a0a;
  } */
  
  .post-title {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  
  .post-date {
    font-size: 11px;
  }
  
  .section-r-card h2 {
    margin-bottom: 10px;
    font-size: 18px;
    font-family: "Archivo Black", "Archivo", sans-serif;
    font-weight: 300;
  }
  
  .section-r-card {
    background-color: var(--page);
    display: block;
    width: 85%;
    height: 70%;
    cursor: pointer;
    padding: 20px 25px;
    border-radius: 5px;
    border: 3px solid var(--primary);
    box-shadow: 1px 9px 14px -2px rgba(0, 0, 0, 0.53),
      10px -10px 0 -3px var(--page), 10px -10px var(--intro),
      20px -20px 0 -3px var(--page), 20px -20px var(--intro);
  }
  
  /* .section-r-card:hover {
    animation: shadow-wave 3s ease infinite;
  } */
  
  /* @keyframes shadow-wave {
    0% {
      border: 3px solid var(--primary);
      box-shadow: 1px 9px 14px -2px rgba(0, 0, 0, 0.53),
        10px -10px 0 -3px var(--background), 10px -10px var(--green),
        20px -20px 0 -3px var(--background), 20px -20px var(--yellow);
    }
    20% {
      border: 3px solid var(--red);
      box-shadow: 1px 9px 14px -2px rgba(0, 0, 0, 0.53),
        10px -10px 0 -3px var(--background), 10px -10px var(--primary),
        20px -20px 0 -3px var(--background), 20px -20px var(--green);
    }
    40% {
      border: 3px solid var(--orange);
      box-shadow: 1px 9px 14px -2px rgba(0, 0, 0, 0.53),
        10px -10px 0 -3px var(--background), 10px -10px var(--red),
        20px -20px 0 -3px var(--background), 20px -20px var(--primary);
    }
    60% {
      border: 3px solid var(--yellow);
      box-shadow: 1px 9px 14px -2px rgba(0, 0, 0, 0.53),
        10px -10px 0 -3px var(--background), 10px -10px var(--orange),
        20px -20px 0 -3px var(--background), 20px -20px var(--red);
    }
    80% {
      border: 3px solid var(--green);
      box-shadow: 1px 9px 14px -2px rgba(0, 0, 0, 0.53),
        10px -10px 0 -3px var(--background), 10px -10px var(--yellow),
        20px -20px 0 -3px var(--background), 20px -20px var(--orange);
    }
    100% {
      border: 3px solid var(--primary);
      box-shadow: 1px 9px 14px -2px rgba(0, 0, 0, 0.53),
        10px -10px 0 -3px var(--background), 10px -10px var(--green),
        20px -20px 0 -3px var(--background), 20px -20px var(--yellow);
    }
  } */
  
  @media screen and (max-width: 690px) {
    .section-r-card {
      display: none;
    }
  }
  