/* :root {
  --primary-green: rgb(32, 165, 103);
  --bg-shape-color: linear-gradient(120deg, #343a4f, #0f1620);
  --lightblue: #423550;
  --darkblue: #554468;
  --text-color: #e8ecf0;
} */

.cards-block3-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.wrapper {
  position: relative;
  max-width: 350px;
  height: 100%;
  border-radius: 6px;
  background: #2c3041;
  overflow: hidden;
  margin: 15px 35px;
  box-shadow: 2px 6px 39px -8px rgba(0, 0, 0, 0.73);
}

.overviewInfo,
.productSpecifications {
  padding: 15px 15px 10px 15px;
}

.overviewInfo {
  background-image: linear-gradient(176deg, var(--lightblue), var(--darkblue));
}

.productinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.productImage {
  position: absolute;
  top: -52px;
  right: -12px;
  width: 150px;
  height: auto;
  transform: rotate(0deg) translate(10px, 59px);
  transition: ease 1s all;
}
.productImage img {
  border-radius: 50%;
  width: 100%;
}

.link-img {
  margin-right: 3px;
  width: 12px;
}

.grouptext h3 {
  letter-spacing: 1.5px;
  font-size: 15px;
  font-weight: 500;
  /* color: rgb(24, 23, 23); */
  color: #fff;
  margin-bottom: 2px;
}
.grouptext a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  font-size: 13px;
  opacity: 1;
  color: rgb(170, 163, 163);
}

.grouptext-info {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
}

/* product specifications */
.featureIcon {
  width: 20px;
  height: 20px;
  background-image: var(--bg-shape-color);
  border-radius: 10px;
  margin-right: 10px;
}

.productSpecifications h1 {
  margin-bottom: 7px;
  font-size: 24px;
  color: #fff;
}

.productSpecifications .intro-description {
  opacity: 0.9;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 200;
}

.featureText-title {
  color: #fff;
}

.featureText-content {
  font-size: 14px;
  font-weight: 200;
}

.featureText-img {
  width: 25px;
  filter: drop-shadow(0px 0px 4px rgba(219, 207, 207, 0.582));
}

/* .project-library-text {
  font-weight: 200;
} */

.productSpecifications .productFeatures {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  grid-row-gap: 15px;
}

.productSpecifications .productFeatures .feature {
  display: flex;
}

.checkoutButton {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
  padding: 7px;
  align-items: center;
}

.button-img {
  margin-right: 5px;
  width: 15px;
}

.button-82-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  background: linear-gradient(
    to left,
    rgb(196, 139, 241) 0%,
    rgb(123, 92, 148) 0%,
    rgb(86, 60, 105) 0%,
    rgb(58, 40, 71) 0%
  );
}

.button-82-front {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 7px;
  font-size: 0.9rem;
  color: white;
  background: rgb(153, 28, 76);
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.button-82-pushable:hover {
  filter: brightness(150%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}

/* ***++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@media screen and (max-width: 690px) {
  .wrapper {
    margin: 15px 10px;
  }
  .grouptext h3 {
    font-size: 13px;
  }
  .grouptext a {
    font-size: 12px;
  }
  .productSpecifications h1 {
    font-size: 20px;
  }
  .productSpecifications p {
    font-size: 13px;
  }
}